[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery
[submodule "vendor/jasny-bootstrap"]
	path = vendor/jasny-bootstrap
	url = https://github.com/jasny/bootstrap.git
[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
