<!doctype html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>Title page proba 1</title>
	<link rel="stylesheet" href="../../styles/main.css"/>
</head>
<body>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
	<a class="navmenu-brand visible-md visible-lg" href="#">Movie site production</a>
	<ul class="nav nav-list">
		<li class="nav-header">
			Разделы
		</li>
		<li><a href="#">Популярное</a></li>
		<li><a href="#">Новинки</a></li>
		<li><a href="#">Скоро на сайте</a></li>
		<li><a href="#">Сейчас в Кино</a></li>
		<li><a href="#"><span class="label label-success pull-right">new</span>В 3D</a></li>
		<li class="nav-header">
			Жанры
		</li>
		<li><a href="/genres/anime"><span class="label label-default pull-right">33</span>Аниме</a></li>
		<li><a href="/genres/biographical"><span class="label label-default pull-right">78</span>Биография</a></li>
		<li><a href="/genres/action"><span class="label label-default pull-right">467</span>Боевик</a></li>
		<li class="active"><a href="/genres/western"><span class="label label-default pull-right">29</span>Вестерн</a></li>
		<li><a href="/genres/war"><span class="label label-default pull-right">89</span>Военный</a></li>
		<li><a href="/genres/detective"><span class="label label-default pull-right">181</span>Детектив</a></li>
		<li><a href="/genres/documentary"><span class="label label-default pull-right">12</span>Документальный</a></li>
		<li><a href="/genres/drama"><span class="label label-default pull-right">782</span>Драма</a></li>
		<li><a href="/genres/history"><span class="label label-default pull-right">77</span>История</a></li>
		<li><a href="/genres/comedy"><span class="label label-default pull-right">642</span>Комедия</a></li>
		<li><a href="/genres/concert"><span class="label label-default pull-right">0</span>Концерт</a></li>
		<li><a href="/genres/short"><span class="label label-default pull-right">14</span>Короткометражка</a></li>
		<li><a href="/genres/melodrama"><span class="label label-default pull-right">331</span>Мелодрама</a></li>
		<li><a href="/genres/music"><span class="label label-default pull-right">28</span>Музыка</a></li>
		<li><a href="/genres/musical"><span class="label label-default pull-right">42</span>Мюзикл</a></li>
		<li><a href="/genres/adventure"><span class="label label-default pull-right">378</span>Приключения</a></li>
		<li><a href="/genres/sport"><span class="label label-default pull-right">25</span>Спорт</a></li>
		<li><a href="/genres/thriller"><span class="label label-default pull-right">532</span>Триллер</a></li>
		<li><a href="/genres/horror"><span class="label label-default pull-right">182</span>Ужасы</a></li>
		<li><a href="/genres/fantastic"><span class="label label-default pull-right">221</span>Фантастика</a></li>
		<li><a href="/genres/fantasy"><span class="label label-default pull-right">260</span>Фэнтези</a></li>
	</ul>
</div>

<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">Movie site production</a>
</div>

<div class="container-fluid">
	<div class="page-header">
		<h1>В электрическом тумане</h1>
		<p class="lead">In the Electric Mist</p>
	</div>
</div><!-- /.container -->

<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/vendor/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
</body>
</html>