<!doctype html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>Title page proba 1</title>
	<link rel="stylesheet" href="../../styles/main.css"/>
</head>
<body>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
	<a class="navmenu-brand visible-md visible-lg" href="#">Media.Vashmir.by</a>
	<ul class="nav nav-list">
		<li class="nav-header">
			Разделы
		</li>
		<li><a href="#">Популярное</a></li>
		<li><a href="#">Новинки</a></li>
		<li><a href="#">Скоро на сайте</a></li>
		<li><a href="#">Сейчас в Кино</a></li>
		<li class="nav-header">
			Жанры
		</li>
		<li><a href="/genres/anime"><span class="badge">33</span>аниме</a></li>
		<li><a href="/genres/biographical"><span class="badge">78</span>биография</a></li>
		<li><a href="/genres/action"><span class="badge">467</span>боевик</a></li>
		<li><a href="/genres/western"><span class="badge">29</span>вестерн</a></li>
		<li><a href="/genres/war"><span class="badge">89</span>военный</a></li>
		<li><a href="/genres/detective"><span class="badge">181</span>детектив</a></li>
		<li><a href="/genres/documentary"><span class="badge">12</span>документальный</a></li>
		<li><a href="/genres/drama"><span class="badge">782</span>драма</a></li>
		<li><a href="/genres/history"><span class="badge">77</span>история</a></li>
		<li><a href="/genres/comedy"><span class="badge">642</span>комедия</a></li>
		<li><a href="/genres/concert"><span class="badge">0</span>концерт</a></li>
		<li><a href="/genres/short"><span class="badge">14</span>короткометражка</a></li>
		<li><a href="/genres/melodrama"><span class="badge">331</span>мелодрама</a></li>
		<li><a href="/genres/music"><span class="badge">28</span>музыка</a></li>
		<li><a href="/genres/musical"><span class="badge">42</span>мюзикл</a></li>
		<li><a href="/genres/adventure"><span class="badge">378</span>приключения</a></li>
		<li><a href="/genres/sport"><span class="badge">25</span>спорт</a></li>
		<li><a href="/genres/thriller"><span class="badge">532</span>триллер</a></li>
		<li><a href="/genres/horror"><span class="badge">182</span>ужасы</a></li>
		<li><a href="/genres/fantastic"><span class="badge">221</span>фантастика</a></li>
		<li><a href="/genres/fantasy"><span class="badge">260</span>фэнтези</a></li>
	</ul>
</div>

<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">Media.Vashmir.by</a>
</div>

<div class="container">
	<div class="page-header">
		<h1>В электрическом тумане</h1>
		<p class="lead">In the Electric Mist</p>
	</div>
</div><!-- /.container -->


</body>
</html>